body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: white;
  max-width: 320px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
h2 {
  margin: 20px 0 15px 0;
  font-size: 25px;
}
p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  padding: 0 29px;
  line-height: 1.4;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
