body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.container-elements {
  background-color: hsl(0, 0%, 100%);
  width: 50vh;
  border-radius: 10px;
}

.image {
  margin: 20px;
}
.image-icon {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.element-text {
  text-align: center;
}
h3 {
  letter-spacing: 1.6px;
  font-weight: 900;
}
p {
  color: hsl(216, 15%, 48%);
  font-weight: 500;
}
